@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-poppins), sans-serif; /* Apply Poppins globally */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif; /* Ensure it's applied */
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;  /* Adjust width */
}

::-webkit-scrollbar-thumb {
  background-color: #d5d0d0;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.clip-path-trapezoid {
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}
